* {
  margin: 0;
  padding: 0;
  font-size: 1.05rem;
}

:root {
  --primary-color: #282c34;
  --secondary-color: #7b8081;
  --header-color: #fff;
  --item-container-color: #f8f8f8;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input,
button {
  margin: 0.5em;
  filter: brightness(100%);
  cursor: pointer;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

h1 {
  font-size: 1.35rem;
  font-weight: 300;
  color: var(--header-color);
}

select {
  font-size: 0.95rem;
}

#content-container {
  margin: 0 auto 10em;
}

#title h3 {
  font-weight: 300;
  color: var(--primary-color);
  border-bottom: solid var(--primary-color);
  border-width: 1px;
  justify-content: left;
}

i,
#review-icon-img,
#open-hours-el,
#item-result-container {
  cursor: pointer;
}

#gps-img {
  height: auto;
  width: 15px;
  padding-top: 0.15em;
}

#gps-btn {
  height: auto;
  width: 25px;
  border-radius: 50%;
}

#footer-container {
  background-color: var(--secondary-color);
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 2em 0;
}

#footer-container a {
  color: var(--header-color);
}

#header-container {
  padding: 1em;
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  height: 35vh;
  background-position: center center;
  background-size: cover;
  filter: brightness(70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-container {
  display: flex;
  flex-direction: column;
}

#price-input-container {
  color: var(--header-color);
}

#price-categ-container {
  display: flex;
}

#categories-container {
  display: flex;
  flex-wrap: wrap;
}

#result-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#element-container {
  background-color: var(--item-container-color);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0.75em;
  margin-bottom: 0.5em;
}

#attributes-input-container label {
  color: var(--header-color);
  font-size: 1rem;
}

#element-info {
  text-align: left;
  padding-right: 1em;
}

#element-img {
  margin-right: 1em;
}

#main-img-container img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
}

#img-carousel {
  object-fit: cover;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#img-carousel img,
.img-popup-container-item {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#icon-container img {
  width: 25px;
  height: auto;
}

#possib-lang {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#possib-lang p {
  margin: 0.5em;
}

#pagination-container {
  margin: 3em 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#img-avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.pagination-btn {
  background: none;
  border: none;
  padding: 0 1em;
  cursor: pointer;
}

.rating {
  justify-content: center;
  display: flex;
}

.review-user img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.review-text {
  text-align: left;
  margin: 0.5em 1em;
}

.review-user {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.rating-time-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.rating-time-container p {
  margin-left: 1em;
}
.App {
  text-align: center;
}

.img-res-container-item {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.price {
  margin-right: 0.5em;
}

.leaflet-container {
  margin: 1em;
  width: 90vw;
  height: 40vh;
}

.show {
  display: contents;
}

.hide,
#att-in-big-screen {
  display: none;
}

.error {
  position: relative;
  animation: shake 0.1s linear;
  animation-iteration-count: 3;
  border: 1px solid red;
  outline: none;
}

@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}

@media (min-width: 640px) {
  #item-result-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #element-container {
    margin: 1em auto;
    width: 500px;
  }

  #header-container {
    height: 40vh;
  }

  #att-in-big-screen {
    display: contents;
  }
}
